<!-- adjusted css, layout for pic/ text as screen minimizes is good now, just gotta finish bio -->
<div class="about" id="about-scroll">
  <div class="container" id="about-section">
    <div class="row row-centered">
      <div class="about-pic col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4">
        <%=image_tag 'me.png', class: 'about-me' %>
        <div class="col-xs-12 text-center" id="contact-button">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            Say Hi!
          </button>
        </div>
      </div>
      <br />
       <div class="boom-box about-summary text-left col-xs-12 col-sm-6 col-md-5">
          <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>Word on the street is people like to know the person behind the page... *waves* hi<br /><br />
          I'm an artist who resides in both the development and digital realm-- probably why frontend feels so perfect.<br /><br /> I have a variety of interests which probably show best through my tweets (I love Twitter).
          When I'm not tweeting or creating awesome beautiful mistakes to learn from my attention goes to my "little girl" (an amazing 11 yr old Lab mix). Which by the way, has been constantly by my side during my web development level up quest.
      </div>    
    </div>
  </div>
</div>