<div class="about" id="about-scroll">
  <div class="container" id="about-section">
    <div class="row row-centered">
      <div class="about-pic col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-5">
        <%=image_tag 'me.png', class: 'about-me' %>
      </div>
      <br />
       <div class="about-summary col-xs-12 col-sm-6 col-md-5">
          <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud" </p>
      </div>
    </div>
  </div>
</div>