<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  <!-- TINYTREE THUMBNAIL-->
  <div class="tinytree">
    <figure class="">
      <figcaption>
        <h1><small>tinytree | coming soon</small></h1>
        <p>listings app focused on 'greener' type of living accommodations using React</p>
        <ul class="user-stories">
          <li>filter by location</li>
          <li>filter by price range</li>
          <li>filter by features</li>
        </ul>
        <br />
        <!-- <a href="#"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a> -->
        <a href="https://github.com/rebelcl0ud/tinytree"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>

  <!-- SALARY THUMBNAIL-->
  <div class="salary">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small>salary calculator</small></h1>
        <p>salary to hourly rate conversion using React</p>
        <ul class="user-stories">
          <li>inputs for salary, weeks, hours</li>
          <li>converts salary into hourly</li>
          <li>freelance pricing features in progress</li>
        </ul>
        <br />
        <a href="https://salary-calculator.netlify.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/salary-calculator"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>
  
  <!-- COMPOSITING PORTFOLIO THUMBNAIL-->
  <div class="comp">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small>compositing portfolio (what started it all...)</small></h1>
        <p>portfolio built for compositing show reel</p>
        <ul class="user-stories">
          <li>shows comp work</li>
          <li>about page</li>
          <li>contact form functionality</li>
        </ul>
        <br />
        <a href="https://rebelcl0udmedia.herokuapp.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/jo"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>  
</div> <!-- end of project section -->
