<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  
  <!-- WEATHER THUMBNAIL-->
  <div class="weather">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>nimbus scout</u></small></h1>
        <p>uses DarkSky API, Geolocation, Geocode w/ Node + Express</p>
        <ul class="user-stories">
          <li>can see weather in current location</li>
          <li>can see a different icon depending on the weather</li>
          <li>can push a button to toggle between fahrenheit and celsius</li>
        </ul>
        <br />
        <a href="https://nimbusscout-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/nimbusscout"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>

  <!-- NEWSLETTER THUMBNAIL-->
  <div class="newsletter">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>newsletter</u></small></h1>
        <p>"newsletter" subscription form using Mailchimp API w/ Node + Express</p>
        <br />
        <a href="https://nodegnome-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/nodegnome"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
    
  </div>

  <!-- CALCULATOR THUMBNAIL-->
  <div class="calculator">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>calculator</u></small></h1>
        <p>based off 70s Casio reference photo, calculator designed using HTML, CSS, JavaScript/jQuery</p>
        <ul class="user-stories">
          <li>can add, subtract, multiply and divide two numbers</li>
          <li>can clear the input field with a clear button</li>
          <li>can keep chaining mathematical operations together until I hit the equal button, and the calculator will tell me the correct output</li>
        </ul>
        <br />
        <a href="https://calculatorjs-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/calculatorJS"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure> 
  </div>

  <!-- TWITCHTV THUMBNAIL-->
  <!-- <div class="twitch"> -->
    <!-- <figure class="proj"> -->
      <!-- <figcaption>
        <h1><small>twitch TV</small></h1>
        <p>uses Twitch API</p>
        <a href="https://twitchtv-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/twitch"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption>  -->
   <!--  </figure>  -->
  <!-- </div> -->

  <!-- WIKI VIEWER THUMBNAIL-->
  <div class="wiki">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>wiki viewer</u></small></h1>
        <p>uses MediaWiki API</p>
        <ul class="user-stories">
          <li>can search wiki entries in a search box and see resulting wiki entries</li>
          <li>can click button to see random wiki entry</li>
        </ul>
        <br />
        <a href="https://wiki-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/wiki"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>

  <!-- QUOTEMACHINE THUMBNAIL-->
  <div class="quotemachine">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>stoic in a box</u></small></h1>
        <p>stoic quotes using AWS</p>
        <ul class="user-stories">
          <li>random quotes at the press of a button</li>
          <li>tweet quote functionality</li>
          <li>quotes request from AWS where file containing stoic quotes from the web are stored</li>
        </ul>
        <br />
        <a href="https://stoicinabox.surge.sh/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/stoicinabox"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure> 
  </div>

  <!-- COMPOSITING PORTFOLIO THUMBNAIL-->
  <div class="comp">
    <figure class="colorOverlay">
      <figcaption>
        <h1><small><u>compositing portfolio</u> (where it all began...)</small></h1>
        <p>portfolio built for compositing show reel</p>
        <ul class="user-stories">
          <li>shows comp work</li>
          <li>about page</li>
          <li>contact form functionality</li>
        </ul>
        <br />
        <a href="https://rebelcl0udmedia.herokuapp.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/rebelcl0ud/jo"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
      </figcaption> 
    </figure>
  </div>  
</div> <!-- end of project section -->
