<p>Hey, <%= @contact.name %>! </p>
<p>Thanks for the message and visiting my Internet digs :)</p>
<p>
  Your message has traveled the interwebs and safely sits in my inbox waiting for my next check-in.
  I'll get back to you soon.
</p>


