<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Name: <strong><%= @contact.name %></strong></p>
    <p>Email: <%= @contact.email%></p>
    <p>Message: <%= @contact.message %></p>   
  </body>
</html>