/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
  background-color: black;
  color: gray;
  text-align: center;
  padding: 25px 0px;
}

#memo {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  display: inline-block;
}

#soda {
  -webkit-filter: invert(100%);
  width: 7%;
}

#paw {
  transform: rotate(11deg);
}
