@import "bootstrap-sprockets";
@import "bootstrap";
/* above moved from app file -- .navbar border radius was not working until this edit*/
@-ms-viewport{
  width: device-width;
}

@media (max-width:600px) {
  .frosty {
    text-align: left;
    padding-left: 60px;
  }

  .navbar-brand {
    display: none;
  }

  #joIcon {
    margin-left: 20px;
  }
}

@media (max-width:400px) { 
  .social-button {
    width: 4.5em;
    height: 4.5em;
  }
}

body {
  /* https://css-tricks.com/css3-gradients/ */
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #00bfff, #EC6EAD);
  background: linear-gradient(to right,  #00bfff, #EC6EAD);
  position: relative;
  margin: 0px;
}

.navbar {
  border-radius: 0px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.navbar, 
.navbar-brand {
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

#joIcon {
  -webkit-filter: invert(100%);
  width: 50px;
  height: 50px;
}

.boom-box {
  padding: 25px;
  box-shadow: 0px 1px 4px #2a2a2a;
  color: gray;
  background: #fff;
  border-radius: .2em;
}

.about {
  padding: 32px 25px 50px 25px; 
  height: auto;
}

.about-me {
  height: auto;
  width: auto;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  background-color: rgba(0, 191, 255, 0.5);
  border: 1px solid gray;;
}

.about-pic {
  margin-bottom: 10px;
}

.about-summary {
  color: #e5e5e5;
}

#contact-button { 
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.projects {
  background: url(paper_fibers.png);
  padding: 50px 25px 25px 25px;
}

h3, h4, small {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.portfolio-caption {
  text-align: center;
}

#comp, 
#quotemachine, 
#weather, 
#wiki, 
#twitch, 
#calculator {
  padding-bottom: 15px;
  -webkit-transition: all 2s ease; 
  -moz-transition: all 2s ease; 
  -ms-transition: all 2s ease; 
  transition: all 2s ease;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float:none;
    margin:0;
}

.clr {
  clear: both;
}

.social-button:hover, 
.btn:hover {
  transform: scale(1.05);
}

figcaption {
  text-align: center;
}

.fa-external-link {
  padding-right: 25px;
}

.fa-external-link, 
.fa-github-alt {
  color: #00bfff;
}

.fa-external-link:hover, 
.fa-github-alt:hover {
  transform: scale(1.2);
}
