@import "bootstrap-sprockets";
@import "bootstrap";
/* above moved from app file -- .navbar border radius was not working until this edit*/

/* mobile */
@-ms-viewport{
  width: device-width;
}

@media (min-width:800px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .weather {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .newsletter {
    grid-column: 3;
  }

  .calculator {
    grid-column: 3;
  }

  .wiki {
    grid-column: 1;
    grid-row: 3/4;
  }
}

@media (max-width:600px) {
  .navbar-brand {
    display: none;
  }

  #joIcon {
    margin-left: 20px;
  }
}

@media (max-width:400px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  .social-button {
    width: 4.5em;
    height: 4.5em;
  }
}

/* vars */
$bg-col: #3494E6;
$bg-size: cover;
$mono-space: 'Source Code Pro', monospace;
$nav-font: 'Advent Pro', sans-serif;

body {
  /* https://css-tricks.com/css3-gradients/ */
  background: $bg-col; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #00bfff, #EC6EAD);
  background: linear-gradient(to right,  #00bfff, #EC6EAD);
  position: relative;
  margin: 0px;
}

.navbar {
  border-radius: 0px;
}

h1, .navbar {
  margin:0;
}

h1 {
  font-size: 2em;
}

.navbar, 
.navbar-brand {
  font-family: $nav-font;
  font-size: 20px;
}

#joIcon {
  -webkit-filter: invert(100%);
  width: 50px;
  height: 50px;
}

/* about */
.about {
  padding: 32px 25px 50px 25px; 
  height: auto;
}

.about-me {
  height: auto;
  width: auto;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  border: 1px solid gray;;
}

.about-pic {
  margin-bottom: 10px;
}

.about-summary {
  color: #e5e5e5;
}

#contact-button { 
  font-family: $mono-space;
  color: white;
}

/* projects */
.colorOverlay {
  background: rgba(0,0,0,0.8);
  text-align: left;
  padding: 10% 10% 25% 10%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;  
}

.weather:hover .colorOverlay,
.newsletter:hover .colorOverlay,
.calculator:hover .colorOverlay,
.wiki:hover .colorOverlay, 
.quotemachine:hover .colorOverlay,
.comp:hover .colorOverlay {
  opacity: 1;
}

.weather {
  background: url('weather.png'); 
  background-size: $bg-size;
}

.newsletter {
  background: url('newsletter.png'); 
  background-size: $bg-size;
}

.calculator {
  background: url('calculator.png'); 
  background-size: $bg-size;
}

.wiki {
  background: url('wiki.png'); 
  background-size: $bg-size;
}

.quotemachine {
  background: url('quotemachine.png'); 
  background-size: $bg-size;
}

.comp {
  background: url('comp.png'); 
  background-size: $bg-size;
}

h1,
small,
p,
.user-stories {
  font-family: $mono-space;
}

p,
.user-stories {
  color: #808080;
}

.clr {
  clear: both;
}

.social-button:hover, 
.btn:hover {
  transform: scale(1.05);
}

.fa-external-link {
  padding-right: 25px;
}

.fa-external-link, 
.fa-github-alt {
  color: #00bfff;
}

.fa-external-link:hover, 
.fa-github-alt:hover {
  transform: scale(1.2);
}