@import "bootstrap-sprockets";
@import "bootstrap";
/* above moved from app file -- .navbar border radius was not working until this edit*/

@-ms-viewport{
  width: device-width;
}

body {
  position: relative;
}

.navbar {
  border-radius: 0px;
}

.hero {
  background: url('bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.navbar, .navbar-brand {
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

#joIcon {
  -webkit-filter: invert(100%);
  width: 50px;
  height: 50px;
}


.projects {
  padding: 75px 25px 25px 25px;
}

.frosty { 
  font-family: 'Source Code Pro', monospace;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
  color: white;
  margin-top: 75px;
  padding-right: 115px;
}


#contact-button { 
  font-family: 'Source Code Pro', monospace;
  color: white;
  padding-top: 25px;
  padding-right: 115px;
}

.frosty h4, #subheader{
  text-decoration: none;
  display: inline-block;
}

#soda {
  -webkit-filter: invert(100%);
}

h3, h4, small {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

h3:hover, h4:hover  {
  text-decoration: underline dotted #00bfff;

}

.hashtag {
  color: #00bfff;
  display: inline-block;
}

.portfolio-caption {
  text-align: center;
}

#comp, #splurty, #nomster, #flixter, #grammable, #chess, #meep, #quotemachine, #weather {
  padding-bottom: 15px;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float:none;

    margin:0;
}

.clr {
  clear: both;
}

.boom-box {
  margin-top:30px;
  margin-bottom:15px;
  padding: 25px;
  box-shadow: 0px 2px 4px #2a2a2a;
  color: gray;
  background: #fff;
}

.scrollToTop {
    width: 100px;
    height: 70px;
    padding: 26px;
    text-align: center;
    background: rgba(50, 50, 50, 0.9);
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    left: 0px;
    display: none;
    border-radius: 0 5px 5px 0;
    letter-spacing: -0.5px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 1, 0.21);
    
   
  }

.scrollToTop:hover {
   color: #00bfff;
   text-decoration: none;

}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #00bfff; /* <<< sky blue >>> */
}

figure.effect-honey img {
  opacity: 1; /* <<< as is BEFORE hover (no overlay @1) >>> */
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.2; /* <<< AFTER hover >>> */
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #fff; /* <<< bottom strip >>> */
  content: '';
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  color: white;
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-honey h2 small {
  font-style: normal;
  opacity: 0;
  color: white;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 small {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


@media (max-width:600px) {
  .frosty {
    text-align: left;
    padding-left: 60px;
  }
}

